$defaultFont: 'Cormorant Infant', serif;
$defaultColor: green;
$defaultFontSize: 25px;
$heightFooter: 100px;
$heightHeader: 100px;

* {
  font-family: $defaultFont;
}
@mixin reference($decoration,$size,$weight,$color) {
  text-decoration: $decoration;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin justify-content($pos1) {
  -webkit-justify-content: $pos1;
  -ms-flex-pack: $pos1;
  justify-content: $pos1;
}
@mixin align-items($pos3) {
  -webkit-align-items: $pos3;
  -ms-flex-align: $pos3;
  align-items: $pos3;
}
@mixin block($width,$height,$borderWidth,$borderStyle,$borderColor,$borderRadius) {
  width: $width;
  height: $height;
  border-width: $borderWidth;
  border-style: $borderStyle;
  border-color: $borderColor;
  border-radius: $borderRadius;
}
header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include block(80%, 150px, 1px, solid, black,0);
  margin-left: 10%;
  overflow: hidden;
  @include justify-content(space-between);
  @include align-items(flex-end);
  background-color: lightblue;
}
header img {
  margin-left: 1%;
}
header p {
  font-size: 50px;
  font-weight: bold;
  color: green;
  font-family: $defaultFont;
  }
  .content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-wrap(wrap);
  }
  #leftSide {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 300px;
    @include block(15%, 100%, 1px, solid, black,0);
    @include flex-direction(column);
    margin-left: 10%;
  }
  #leftSide #feedback {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    @include block(90%, 5%, 1px, solid, green, 5px);
    box-shadow: 0 0 3px lightgreen;
    color: green;
    text-align: center;
    margin: 5%;
  }
  #leftSide #banner {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    @include block(90%, 80%, 1px, solid, green, 5px);
    min-height: 250px;
    box-shadow: 0 0 3px lightgreen;
    color: green;
    text-align: center;
    margin: 5%;
  }
  #leftSide #banner #banner1 {
    font-weight: bold;
    font-family: $defaultFont;
    font-size: 2em;
    color: red;
  }
  #centerBlock {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 300px;
    @include block(49%, 100%, 1px, solid, black,0);
    margin: 4px;
  }
  #centerBlock .itemsBlocks {
    width: 20%;
    max-height: 250px;
    margin: 1%;
    overflow: hidden;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: 0 0 3px lightgreen;
    font-family: $defaultFont;
    font-weight: bold;
    color: green;
    font-size: 100%;
    @include align-items(center);
    @include justify-content(center);
    text-align: center;
  }
  #centerBlock .itemsBlocks .itemBtn {
    width: 90%;
    height: 25px;
  }
  #centerBlock .itemsBlocks img {
    height: 100px;
    overflow: hidden;
  }
  #rightSide {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 300px;
    @include block(15%, 100%, 1px, solid, black,0);
    @include flex-direction(column);
  }
  #rightSide #basket {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
  }
  #rightSide #basket img {
    width: 50%;
  }
  .content #itemWindow {
    position: absolute;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    min-height: 300px;
    @include block(49%, 70vh, 1px, solid, green, 5);
    box-shadow: 0 0 3px lightgreen;
    margin-left: 24.8%;
    background-color: white;
    overflow-y: scroll;
  }
  .content #itemWindow .subItem {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    width: 99%;
    height: 99%;

  }
  .content #itemWindow .subItem h3 {
    position: relative;
    font-size: 2em;
    font-family: $defaultFont;
    color: green;
    text-align: center;
    line-height: normal;
  }
  .content #itemWindow .subItem #infoBlock {
    position: relative;
    @include block(100%, auto, 0px, solid, green, 0);
    text-align: justify;
  }
.content #itemWindow .subItem #infoBlock img {
  position: relative;
  width: 50%;
  border: 1px solid green;
  border-radius: 5px;
  float: left;
  margin-top: 1%;
}
.content #itemWindow .subItem #infoBlock p {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  font-family: $defaultFont;
  color: green;
  text-align: left;
  line-height: normal;
}
.content #itemWindow .subItem #infoBlock p[id="describtion"] {
  position: relative;
  font-size: 100%;
  font-weight: bold;
  font-family: $defaultFont;
  color: lightgreen;
  text-align: left;
  line-height: normal;
}
.content #itemWindow .subItem #btnBlock {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(space-between);
  width: 90%;
  margin: 1%;
}
.content #itemWindow .subItem #messageBlock {
  position: relative;
  @include block(100%, auto, 1px, solid, green, 0);
}
.content #itemWindow .subItem #messageBlock #messageForm {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
}
.content #moderatorWindow {
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  min-height: 300px;
  @include block(49%, 100%, 1px, solid, green, 5);
  box-shadow: 0 0 3px lightgreen;
  margin-left: 24.8%;
  background-color: white;
}
.content #moderatorWindow #messageContent {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column-reverse);
  @include align-items(flex-start);
  @include justify-content(flex-end);
  min-height: 300px;
  @include block(100%, 100%, 0px, solid, green, 5);
}
.content #basketWindow {
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  min-height: 300px;
  @include block(49%, 100%, 1px, solid, green, 5);
  box-shadow: 0 0 3px lightgreen;
  margin-left: 24.8%;
  background-color: white;
}
.content #basketWindow #basketContent {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(flex-start);
  min-height: 300px;
  @include block(100%, 100%, 0px, solid, green, 5);
}
.content #basketWindow #basketContent h3 {
  width: 100%;
  font-family: $defaultFont;
  font-size: 1.5em;
  font-weight: bold;
  color: green;
  text-align: center;
}
.content #basketWindow #basketContent .itemRaw .nn {
  width: 5%;
  font-family: $defaultFont;
  font-size: 1em;
  font-weight: bold;
  color: green;
  text-align: center;
}
.content #basketWindow #basketContent .itemRaw .itemInBasket {
  width: 50%;
  font-family: $defaultFont;
  font-size: 1em;
  font-weight: bold;
  color: green;
  text-align: left;
  padding-left: 2%;
}
.content #basketWindow #basketContent .itemRaw .priceInBasket {
  width: 20%;
  font-family: $defaultFont;
  font-size: 1em;
  font-weight: bold;
  color: green;
  text-align: center;
}
.content #basketWindow #basketContent .itemRaw {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-direction(raw);
  width: 97%;
  margin-left: 1%;
  height: auto;
}

.content #moderatorWindow .messageRaw {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-direction(raw);
  width: 97%;
  margin-left: 1%;
}

.content #feedbacktWindow {
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(fkex-start);
  min-height: 300px;
  @include block(49%, 70vh, 1px, solid, green, 5);
  box-shadow: 0 0 3px lightgreen;
  margin-left: 24.8%;
  background-color: white;
}
.content #feedbacktWindow #UserNames {
  margin: 2%;
}
.content #feedbacktWindow #contactData {
  margin: 2%;
}
.content #feedbacktWindow #submitt {
  margin: 2%;
}
.content #feedbacktWindow .dialog {
  display: none;
}
