$defaultFont: 'sans-serif', sans-serif;
$defaultColor: green;
$defaultFontSize: 25px;


* {
  font-family: $defaultFont;
}
@mixin reference($decoration,$size,$weight,$color) {
  text-decoration: $decoration;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin justify-content($pos1) {
  -webkit-justify-content: $pos1;
  -ms-flex-pack: $pos1;
  justify-content: $pos1;
}
@mixin align-items($pos3) {
  -webkit-align-items: $pos3;
  -ms-flex-align: $pos3;
  align-items: $pos3;
}
@mixin block($width,$height,$borderWidth,$borderStyle,$borderColor,$borderRadius) {
  width: $width;
  height: $height;
  border-width: $borderWidth;
  border-style: $borderStyle;
  border-color: $borderColor;
  border-radius: $borderRadius;
}
body{
  background-color: #f2f2f2;
}
header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 49px;
  background-color: #0099cc;
  @include justify-content(center);
  @include align-items(center);
}
#topBar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include block(1205px, 100%, 0px, solid, black, 0);
  @include align-items(center);
}
#topBar a {
  @include reference(none, 90%, 100, white);
  font-family: sans-serif;
  text-align: center;
  padding-left: 5%;
}
#topBar a:hover {
  @include reference(none, 90%, bolder, white);
  font-family: sans-serif;
  text-align: center;
  padding-left: 5%;
}

#centralBlock {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include block(63.2%, 790px, 1px, solid, black,0);
  margin-left: 18.45%;
}
#centralBlock h3 {
  font-size: 1.5em;
  margin-left: 15%;
}
#mainBlock5 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#interests .mainBlock {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#centralBlock #interests {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include block(76%, 80%, 0px, solid, black,0);
  margin-left: 12%;
  background-color: white;
}
#kit {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  @include align-items(center);
  @include justify-content(space-between);
}
.kitBtn {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 25%;
  height: 50px;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
  @include align-items(center);
  @include justify-content(space-between);
}
.kitBtnActive {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 25%;
  height: 50px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #3399cc;
  @include align-items(center);
  @include justify-content(space-between);
}
#kit #addKit {
  @include block(30%x, 100%, 0px, solid, black, 0);
  margin-right: 10%;
  color: #3399cc;
}
#kit #kitShow {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(flex-start);
  @include block(58%, 100%, 0px, solid, black, 0);
  margin-left: 1%;
}
#kit #kitShow .kitBtn p {
  color: #cccccc;
  text-align: center;
}
#kit #kitShow .kitBtnActive p {
  color: #3399cc;
  text-align: center;
}
.kitHead {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(flex-end);
  @include justify-content(center);
  @include block(95%, 95px, 0px, solid, black, 0);
}
.kitHead .Input {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(flex-end);
  @include block(25%, 100%, 0px, solid, black, 0);
}
.kitHead .Input label {
  margin-left: 5%;
  font-size: 0.7em;
  color: #cccccc;
  line-height: 2em;
}
.kitHead .Input .kitNameBox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include block(98%, 50px, 1px, solid, #cccccc, 5px);
  box-shadow: 1px 1px 2px black;
}
.kitHead .Input input[name="kitName"] {
  width: 98%;
  height: 45px;
  border: none;
  text-align: center;
}
.kitHead .spanDiv {
  width: 5%;
}
.select {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(flex-end);
  @include block(30%, 100%, 0px, solid, black, 0);
}
.select label {
  margin-left: 5%;
  font-size: 0.7em;
  color: #cccccc;
  line-height: 2em;
}
.select .cityBlock {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(raw);
    @include align-items(center);
    @include block(100%, 50px, 1px, solid, #cccccc, 5px);
    box-shadow: 1px 1px 2px black;
}
.select .cityBlock .citySelect {
  width: 90%;
  height: 98%;
  border: none;
}
.dialog {
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-wrap(wrap);
  @include block(35%, 25%, 1px, solid, #cccccc, 5px);
  background-color: white;
}
.dialog h2 {
  width: 100%;
  font-size: 120%;
  color: #3399cc;
  text-align: center;
}
.dialog .regionId {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  @include block(29%, 50px, 1px, solid, #cccccc, 5px);
  margin: 1%;
  color: #3399cc;
}
.overflow {
  width: 90%;
  height: 200px;
  background-color: white;
  font-size: 80%;
}
.kitHead .Input .cityBlock p {
  font-size: 2em;
  color: #cccccc;
  text-align: center;
  margin-right: 1%;
}
.kitHead .showResults {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  @include block(25%, 50px, 0px, solid, black, 5px);
  text-align: center;
  margin-left: 25%;
  background-color: #ff9933;
  font-size: 90%;
  color: white;
}
.country {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(95%, 135px, 0px, solid, black, 0);
  margin-top: 2%;
}
.country h5 {
  margin-left: 5%;
  font-size: 0.7em;
  color: #cccccc;
  line-height: 1em;
}
.country .region {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(space-around);
  @include block(100%, 35px, 1px, solid, #cccccc, 5px);
  border-bottom: none;
}
.country .region h4 {
  display: inline;
}
.country .countrySelected {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(flex-start);
  @include block(100%, 115px, 1px, solid, #cccccc, 5px);
  border-top: none;
}
.country .countrySelected .countrySelectedBtn {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(space-around);
  @include block(20%, 35px, 0px, solid, #cccccc, 50px);
  background-color: #f2f2f2;
  margin-left: 5%;
}
.countrySelectedBtn1 {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(space-around);
  @include block(20%, 35px, 0px, solid, #cccccc, 50px);
  background-color: #f2f2f2;
  margin-left: 5%;
}
.country .countrySelected .countrySelectedBtn .close {
  font-size: 100%;
  color: #cccccc;
  text-align: center;
  margin-right: 1%;
}
.chengeSelect {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  @include block(100%, 85px, 0px, solid, #cccccc, 5px);
  margin-top: 3%;
}
.chengeSelect .btnSelect {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  @include block(20%, 35px, 1px, solid, #3399cc, 50px);
  background-color: white;
  margin-left: 5%;
  color: #3399cc;
  text-align: center;
  font-size: 80%;
}
.tourDetails {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
  @include block(100%, 85px, 0px, solid, #cccccc, 0px);
  margin-top: 1%;
}
.startEndDate {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(30%, 85px, 0px, solid, #cccccc, 0px);
}
.startEndDate label {
  margin-left: 5%;
  font-size: 0.7em;
  color: #cccccc;
  line-height: 3em;
}
.dialogDate {
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-wrap(wrap);
  @include block(35%, 25%, 1px, solid, #cccccc, 5px);
  background-color: white;
  @include align-items(center);
  @include justify-content(space-around);
}
.dialogDate h2 {
  width: 100%;
  font-size: 120%;
  color: #3399cc;
  text-align: center;
}
.dialogDate .dialogDateBox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include block(35%, 80px, 0px, solid, #cccccc, 5px);
}
.dialogDate .dialogDateBtn {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include block(35%, 30px, 1px, solid, #cccccc, 5px);
  box-shadow: 1px 1px 2px black;
}
.dialogDate .dialogDateBtn p {
  width: 100%;
  font-size: 100%;
  color: #3399cc;
  text-align: center;
}
.dialogDate .dialogDateBox .dialogDateInput {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(100%, 50px, 1px, solid, #cccccc, 5px);
  box-shadow: 1px 1px 2px black;
}
.dialogDateInput input {
  width: 90%;
  height: 92%;
  text-align: center;
  border: none;
}
.dialogDateBox p {
  width: 100%;
  font-size: 80%;
  font-weight: bold;
  color: #3399cc;
  text-align: center;
}
.numOfDays {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(15%, 85px, 0px, solid, #cccccc, 0px);
}
.numOfDays label {
  margin-left: 5%;
  font-size: 0.7em;
  color: #cccccc;
  line-height: 3em;
}
.dialogDayPeack {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(space-around);
  @include block(100%, 60%, 0px, solid, #cccccc, 0px);
}
.people {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(20%, 85px, 0px, solid, #cccccc, 0px);
}
.dialogPeople {
  position: absolute;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-wrap(wrap);
  @include block(35%, 40%, 1px, solid, #cccccc, 5px);
  background-color: white;
  @include align-items(center);
  @include justify-content(space-around);
}
.dialogPeople .dialogDateBtn {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include block(35%, 30px, 1px, solid, #cccccc, 5px);
  box-shadow: 1px 1px 2px black;
}
.dialogPeople .dialogDateBtn p {
  width: 100%;
  font-size: 100%;
  color: #3399cc;
  text-align: center;
}
.dialogPeople h2 {
  width: 100%;
  font-size: 120%;
  color: #3399cc;
  text-align: center;
}
.people label {
  margin-left: 5%;
  font-size: 0.7em;
  color: #cccccc;
  line-height: 3em;
}
.dialogFullAge {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(flex-start);
  @include block(90%, 35%, 0px, solid, #cccccc, 0px);
}
.dialogFullAge h6 {
  font-size: 80%;
  color: #3399cc;
  text-align: center;
  margin: 0;
  padding: 0;
}
.dialogFullAge .person {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  @include block(20%, 100%, 0px, solid, #cccccc, 0px);
}
.dialogFullAge .person:hover > .personT {
  font-size: 130%;
  color: #3399cc;
  text-align: center;
}
.personT {
  font-size: 120%;
  color: #cccccc;
  text-align: center;
}
.personTActive {
  font-size: 130%;
  color: lightgreen;
  text-align: center;
}
.personT:hover {
  font-size: 130%;
  color: #3399cc;
  text-align: center;
}

.dialogFullAge .FullAgee {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(100%, 60%, 0px, solid, #cccccc, 0px);
  border-bottom: 1px solid #cccccc;
}
.costRange {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(30%, 85px, 0px, solid, #cccccc, 0px);
}
.costRange label {
  margin-left: 5%;
  font-size: 0.7em;
  color: #cccccc;
  line-height: 3em;
}
.dialogCost {
  width: 80%;
}
.dialogCostInput {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(95%, 30%, 1px, solid, #cccccc, 0px);
}
.dialogCostInput p {
  font-size: 80%;
  color: #3399cc;
  text-align: center;
}
.costInput {
  width: 95%;
  text-align: center;
  font-weight: bold;
  border: none;
}
.tourDetails .tourDetailsItems {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  @include block(100%, 100%, 1px, solid, #cccccc, 0px);
}
.tourDetails Input {
  width: 96%;
  height: 96%;
  border: none;
  text-align: center;
}
.hotelDesc {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
  @include block(100%, 85px, 0px, solid, #cccccc, 0px);
  margin-top: 1%;
}
.hotelStar {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(18%, 85px, 0px, solid, #cccccc, 0px);
}
.dialogStars {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(95%, 30%, 0px, solid, #cccccc, 0px);
}
.Stars {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(19%, 50%, 1px, solid, #3399cc, 50px);
}

.starActive {
  color: #ffcc00;
  font-size: 1em;
  text-align: center;
}
.hotelDesc .hotels {
  margin-left: 5%;
  font-size: 0.7em;
  color: #cccccc;
  line-height: 1em;
}
.stars {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(100%, 100%, 1px, solid, #cccccc, 0px);
}
.stars p {
  color: #cccccc;
  text-align: center;
  font-size: 120%;
}
.hotelRate {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(15%, 85px, 0px, solid, #cccccc, 0px);
}
.rate {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(100%, 100%, 1px, solid, #cccccc, 0px);
  font-size: 90%;
}
.rate pre {
  font-size: 80%;
}
.dialogRate {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(80%, 50%, 1px, solid, #cccccc, 0px);
}
.rateNum {
  color: #00a551;
  font-size: 90%;
}
.rateNum1 {
  width: 15%;
  color: #00a551;
  font-size: 90%;
  text-align: center;
}
.meal {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(18%, 85px, 0px, solid, #cccccc, 0px);
}
.dialogMeal {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-wrap(wrap);
  @include align-items(center);
  @include justify-content(center);
  @include block(95%, 50%, 1px, solid, #cccccc, 0px);
}
.MealType {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(center);
  @include block(30%, 30%, 1px, solid, #3399cc, 50px);
}

.MealType p {
  font-size: 80%;
  color: #3399cc;
  text-align: center;
}
.mealType {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(100%, 100%, 1px, solid, #cccccc, 0px);
}
.mealType Input {
  width: 98%;
  height: 96%;
  border: none;
  text-align: center;
  font-size: 80%;
}
.position {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(column);
  @include align-items(flex-start);
  @include justify-content(center);
  @include block(20%, 85px, 0px, solid, #cccccc, 0px);
}
.positionType {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-direction(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(100%, 100%, 1px, solid, #cccccc, 0px);
}
.dialogPos {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include flex-wrap(raw);
  @include align-items(center);
  @include justify-content(center);
  @include block(95%, 50%, 0px, solid, #cccccc, 0px);
}
.positionType Input {
  width: 96%;
  height: 96%;
  border: none;
  text-align: center;
}
.delKit {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include align-items(center);
  @include justify-content(flex-end);
  @include block(25%, 85px, 0px, solid, #cccccc, 0px);
  padding-top: 3%;
  font-size: 90%;
  color: red;
}
.icoBar {
  display: none;
}
@media screen and (max-width: 1450px) {
  #kit #addKit {
    font-size: 90%;
  }
  .SEDate1 {
    font-size: 80%;
  }
  .nDays {
    font-size: 80%;
  }
  .peopleNum {
    font-size: 80%;
  }
  .costRangeI {
    font-size: 80%;
  }
  .hotelDesc .hotels {
    margin-left: 2%;
    font-size: 0.5em;
    color: #cccccc;
    line-height: 1em;
  }
  .stars {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(raw);
    @include align-items(center);
    @include justify-content(center);
    @include block(100%, 100%, 1px, solid, #cccccc, 0px);
  }
  .stars p {
    color: #cccccc;
    text-align: center;
    font-size: 120%;
  }
  .rateNum {
    font-size: 80%;
  }
  .rate pre {
    font-size: 80%;
  }
  .delKit {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include align-items(center);
    @include justify-content(flex-end);
    @include block(23%, 85px, 0px, solid, #cccccc, 0px);
    padding-top: 3%;
    font-size: 70%;
    color: red;
  }
}
@media screen and (max-width: 1290px){
  #centralBlock {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include block(80.0%, 890px, 1px, solid, black,0);
    margin-left: 10.0%;
  }
  .tourDetails {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    @include flex-wrap(wrap);
    @include block(100%, 85px, 0px, solid, #cccccc, 0px);
    margin-top: 1%;
  }
}
@media screen and (max-width: 1080px){
  #centralBlock {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include block(90.0%, 890px, 1px, solid, black,0);
    margin-left: 5.0%;
  }
}
@media screen and (max-width: 990px){
  #centralBlock {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include block(95.0%, 890px, 1px, solid, black,0);
    margin-left: 2.5%;
  }
  #centralBlock #interests {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    @include block(80%, 80%, 0px, solid, black,0);
    margin-left: 10%;
    background-color: white;
  }
}
@media screen and (max-width: 800px){
  #centralBlock {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include block(100%, 890px, 1px, solid, black,0);
    margin-left: 0%;
  }
  #centralBlock #interests {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    @include block(95%, 80%, 0px, solid, black,0);
    margin-left: 2.5%;
    background-color: white;
  }
}
// mobile ver
@media screen and (max-width: 600px){
  #topBar a {
    display: none;
  }
  #topBar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(raw);
    @include align-items(center);
    @include justify-content(space-around);
  }
  .icoBar {
    display: block;
    font-size: 2em;
    color: white;
  }
  #kit {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
  }
  #kit #kitShow {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(centert);
    @include block(98%, 100%, 0px, solid, black, 0);
  }
  .kitBtn {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include block(98%, 50px, 1px, solid, #cccccc, 5px);
    @include align-items(center);
    @include justify-content(center);
  }
  .kitBtnActive {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include block(98%, 50px, 1px, solid, #3399cc, 5px);
    @include align-items(center);
    @include justify-content(center);
  }
  #kit #addKit {
    @include block(96%, 50px, 1px, solid, #cccccc, 5px);
    margin-right: 0;
    color: #3399cc;
    text-align: center;
  }
  .kitHead {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include block(98%, auto, 1px, solid, #cccccc, 5px);
  }
  .kitHead .Input {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include block(98%, auto, 0px, solid, black, 0);
  }
  .kitHead .Input label {
    margin-left: 0;
    font-size: 0.7em;
    color: #cccccc;
    line-height: 1.5em;
  }
  .select {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    @include block(98%, auto, 0px, solid, black, 0);
  }
.select .cityBlock {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    width: 98%;
    height: 52px;
    border: none;
    box-shadow: none;
  }
  .kitHead .showResults {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include align-items(center);
    @include justify-content(center);
    @include block(98%, 50px, 0px, solid, black, 5px);
    text-align: center;
    margin-left: 0;
    margin-top: 1%;
    background-color: #ff9933;
    font-size: 90%;
    color: white;
  }
  .kitHead .Input input[name="kitName"] {
    width: 98%;
    height: auto;
    border: none;
    text-align: center;
  }

}
