#project #one-1 #one #text5252 {
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  line-height:1.25;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  letter-spacing:0px;
  word-spacing:0px;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity:1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  filter:url(#filter5306);
}
#project #one-1 #one #text5252 #tspan5250{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#project #one-1 #one #text5252:hover #tspan5250{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#project #one-1:hover > #one #text5252 #tspan5250{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  transition-property: opacity;
  transition-duration: 1s;
}
#two #portfolio #two-1 #text5252-9{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  line-height:1.25;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  letter-spacing:0px;
  word-spacing:0px;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity:1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  filter:url(#filter5306-7);
}
#two #portfolio #two-1 #text5252-9 #tspan5250-1 {
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#two #portfolio:hover > #two-1 #text5252-9 #tspan5250-1 {
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  transition-property: opacity;
  transition-duration: 1s;
}
#two #portfolio #two-1 #text5252-9:hover #tspan5250-1 {
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#three #galary #three-1 #galary-1{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  line-height:1.25;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:center;
  letter-spacing:0px;
  word-spacing:0px;
  writing-mode:lr-tb;
  text-anchor:middle;
  opacity: 1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  filter:url(#filter5306-8);
}
#three #galary:hover > #three-1 #galary-1 #tspan5250-4 {
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  line-height:1.25;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:center;
  letter-spacing:0px;
  word-spacing:0px;
  writing-mode:lr-tb;
  text-anchor:middle;
  opacity: 1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  filter:url(#filter5306-8);
  transition-property: opacity;
  transition-duration: 1s;
}
#three #galary:hover > #three-1 #galary-1 #tspan5350 {
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  line-height:1.25;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:center;
  letter-spacing:0px;
  word-spacing:0px;
  writing-mode:lr-tb;
  text-anchor:middle;
  opacity: 1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  filter:url(#filter5306-8);
  transition-property: opacity;
  transition-duration: 1s;
}

#three #galary #three-1 #galary-1 #tspan5250-4{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:center;
  writing-mode:lr-tb;
  text-anchor:middle;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#three #galary #three-1 #galary-1:hover #tspan5250-4{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:center;
  writing-mode:lr-tb;
  text-anchor:middle;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}

#three #galary #three-1 #galary-1 #tspan5350{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:center;
  writing-mode:lr-tb;
  text-anchor:middle;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#three #galary #three-1 #galary-1:hover #tspan5350{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:center;
  writing-mode:lr-tb;
  text-anchor:middle;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#graphic #graphic-1 #four #text5252-2{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  line-height:1.25;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  letter-spacing:0px;
  word-spacing:0px;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity:1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  filter:url(#filter5306-72);
}
#graphic #graphic-1 #four #text5252-2 #tspan5250-9{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#graphic #graphic-1 #four:hover #text5252-2{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}

#graphic #graphic-1:hover > #four #text5252-2 #tspan5250-9{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  transition-property: opacity;
  transition-duration: 1s;
}
#contacts #contacts-1 #five #text5252-91{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  line-height:1.25;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  letter-spacing:0px;
  word-spacing:0px;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity:1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  filter:url(#filter5306-4);
}
#contacts #contacts-1 #five #text5252-91 #tspan5250-7{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#contacts #contacts-1 #five:hover > #text5252-91{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 0;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
}
#contacts #contacts-1:hover > #five #text5252-91 #tspan5250-7{
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  font-stretch:normal;
  font-size:8.81944466px;
  font-family:sans-serif;
  -inkscape-font-specification:'sans-serif, Bold';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-feature-settings:normal;
  text-align:start;
  writing-mode:lr-tb;
  text-anchor:start;
  opacity: 1;
  fill:#008500;
  fill-opacity:1;
  stroke:#00ff00;
  stroke-width:0.26499999;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:0;
  transition-property: opacity;
  transition-duration: 1s;
}
